   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/gsap.min.js"></script>
   <script src="assets/js/gsap-scroll-trigger.min.js"></script>
   <script src="assets/js/gsap-scroll-to-plugin.min.js"></script>
   <script src="assets/js/gsap-split-text.min.js"></script>
   <script src="assets/js/lenis.min.js"></script>
   <script src="assets/js/swiper.min.js"></script>
   <script src="assets/js/nice-select.js"></script>
   <script src="assets/js/meanmenu.js"></script>
   <script src="assets/js/venobox.min.js"></script>
   <script src="assets/js/wow.min.js"></script>
   <script src="assets/js/appear.min.js"></script>
   <script src="assets/js/odometer.min.js"></script>
   <script src="assets/js/main.js"></script>
   <script src="assets/js/config.js"></script>
   <script src="assets/js/language-switcher.js"></script>
